<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data"
             ngModelGroup="userData"
             #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email"
                   id="email"
                   name="email"
                   ngModel
                   class="form-control"
                   required
                   email
                   #email="ngModel">
          </div>
          <p *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid value!</p>
        </div>
        <div class="form-group">
          <label for="textarea">textarea</label>
          <textarea
            id="textarea"
            name="questionAnswer"
            rows="3"
            class="form-control"
            [(ngModel)]="answer">
          </textarea>
        </div>
        <p>Your reply: {{answer}}</p>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            class="form-control"
            id="secret"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              [id]="gender"
              required="">
            <label class="form-check-label" [for]="gender">
              {{gender}}
            </label>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!f.valid">
          Submit</button>
      </form>


    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Section 15: Handling Forms in Angular Apps</h5>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 184 -> Creating the Form and Registering the Controls</h5>
          <p class="card-text"> The great thing is you don't have to do anything, well almost anything, make sure that in your app module, you actually import the forms module, add it here to your imports array and have the import at the top of this file.  </p>
          <p class="card-text"> <code>  imports: [ <br>
            BrowserModule,<br>
            <b>FormsModule,</b> <br>
            AppRoutingModule<br>
            ],</code></p>

          <p class="card-text"> So you still need to register controls manually, you need to tell Angular hey within that form element, what should be an actual control of my form? And this is what we're going to do now, tell Angular how does our form look like, which controls do we want to have? In the template driven approach, this is super simple. </p>
          <p class="card-text">  You simply pick the input which you want to add as a control, like this input here and I'm just going to structure it a bit different to split it up over multiple lines to make it easier to read and then you add ngModel, like this. Now you might already know ngModel from the two-way binding, two-way data binding and it actually is the same directive. In two-way data binding though, you saw that we use that with square brackets and parentheses wrapped in ngModel.</p>

          <p class="card-text"> <code> &#60;input <br>
            type="text"<br>
            id="username"<br>
            class="form-control"<br>
            <b>ngModel</b>></code> <br>

            This will be enough to tell Angular, hey this input is actually a control of my form, so ngModel in the end is a directive made available in the forms module, something I mentioned earlier in the course when we had a look at two-way data binding.</p>


          <p class="card-text">Now for this to work, for this to be recognized as a control in your form, we need to give Angular one other piece of information, the name of this control. Right now, it would see OK this input should be part of the Javascript object representation of this form, so whatever the user enters here as a value should be the value of this control, of what's the name of that control.
            <br> <code>name="username"</code> Well and the same is true for the select here which is just another type of HTML input. Here we can also add ngModel and we can add a name, like secret because I'm asking for a secret question here and with that, we registered all the controls,</p>

        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 185. TD: Submitting and Using the Form</h5>
          <p class="card-text"> In the last lecture, we configured our form here, we added some control by placing ngModel on the inputs, now let's make this form submittable so that we can actually see what the user entered.</p>
          <p class="card-text">To access to the data contained into the form -> <code>&#60;form (ngSubmit)="onSubmit(f)" #f="ngForm"></code>
            <br> <b>#f</b> is the local reference of the form data that we need to pass to the component.</p>
          <p class="card-text">In the component we need to import ngForm and for example -> <code>  onSubmit(form: NgForm)&#123;
            console.log(form);
            }</code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 187. TD: Accessing the Form with @ViewChild </h5>
          <p class="card-text"> It is possible to access to the local reference also using the @ViewChild() </p>
          <p class="card-text"> <code>export class AppComponent &#123; <br>
            <b>@ViewChild('f', &#123;static: false}) signupForm: NgForm;</b><br>
            <br>
            suggestUserName() &#123;<br>
            const suggestedName = 'Superuser';<br>
            }<br>
            <br>
            onSubmit() &#123;<br>
            console.log(this.signupForm);<br>
            }<br>

            }</code></p>
          <p class="card-text">To access to the data contained into the form -> <code>&#60;form (ngSubmit)="onSubmit()" #f="ngForm"></code>
            <br> <b>#f</b> is the local reference of the form data that we need to pass to the component.</p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 188. TD: Adding Validation to check User Input </h5>
          <p class="card-text"> Whilst you should still validate input on the server as the front-end can always be tricked, you can greatly enhance user experience by also validating the input here, for example we want to make sure that none of the fields here is empty and that the e-mail address actually is a valid e-mail address. </p>
          <p class="card-text">To validate the input, we can add paramenter like <code>required email</code></p>
          <p class="card-text">Angular dynamically add some classes, giving us information, some CSS classes, giving us information about the state of the individual control here whether it is dirty or not, so whether we did change the initial value, whether it touched or not so whether we clicked into it or not and whether it is valid or not. <code>&#60;input _ngcontent-vex-c0="" class="form-control <b>ng-pristine ng-invalid ng-touched</b>" id="username" name="username" ngmodel="" required="" type="text" ng-reflect-required="" ng-reflect-name="username" ng-reflect-model=""></code></p>
        </div>
      </div>





      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 189. Built-in Validators & Using HTML5 Validation</h5>
          <h5 class="card-title">Built-in Validators & Using HTML5 Validation</h5>
          <p class="card-text">  Which Validators do ship with Angular? </p>
          <p class="card-text"> Check out the Validators class: https://angular.io/api/forms/Validators - these are all built-in validators, though that are the methods which actually get executed (and which you later can add when using the reactive approach). </p>
          <p class="card-text"> For the template-driven approach, you need the directives. You can find out their names, by searching for "validator" in the official docs:
            <a href="https://angular.io/api?type=directive" target="_blank">https://angular.io/api?type=directive</a>  - everything marked with "D" is a directive and can be added to your template. </p>
          <p class="card-text">
            Additionally, you might also want to enable HTML5 validation (by default, Angular disables it). You can do so by adding the ngNativeValidate  to a control in your template. </p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 190. TD: Using the Form State </h5>
          <p class="card-text"> - </p>
          <p class="card-text">Disable the Submit button reading the ng class <br><code>&#60;button <br>
            type="submit"<br>
            class="btn btn-primary"<br>
            <b>[disabled]="!f.valid"</b>><br>
            Submit&#60;/button> </code><br> if the local reference f is not valida, so disabling the button</p>
          <p class="card-text">For the css part it easy to add in the css file something like -><br> <code>input.ng-invalid.ng-touched  &#123;
            <br>
            border: 1px solid red;<br>
            }</code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson  191. TD: Outputting Validation Error Messages </h5>
          <p class="card-text"> We only want to show this if an invalid value has been entered into the control associated with this input though. </p>
          <p class="card-text"> <code>      &#60;input type="email"
            id="email"
            name="email"
            ngModel
            class="form-control"
            required
            email
            <b>#email="ngModel"</b> #email="ngModel"></code></p>
          <p class="card-text"> <code>&#60;p <b>*ngIf="!email.valid && email.touched"</b> class="help-block">Please enter a valid value!&#60;/p></code></p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 192. TD: Set Default Values with ngModel Property Binding </h5>
          <p class="card-text"> To set a default value, we can use the ngModel property binding</p>
          <p class="card-text">in the HMTL <code>            [ngModel]="defaultQuestion"</code></p>
          <p class="card-text">in the component <code>              defaultQuestion = 'pet';</code></p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 193. TD: Using ngModel with Two-Way-Binding </h5>
          <p class="card-text"> We don't use two-way binding, ngModel is either used without any binding or with one-way binding but sometimes you instantly want to check something or simply repeat whatever the user entered, let's show an example. </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
          <p class="card-text">So two-way binding is still possible, you can still use ngModel with two-way binding and with that, you saw all three forms. No binding to just tell Angular that an input is a control, one-way binding to give that control a default value and two-way binding to instantly output it or do whatever you want to do with that value.</p>
          <p class="card-text">In the HTML <code>&#60;textarea <br>
            id="textarea"<br>
            name="questionAnswer"<br>
            rows="3"<br>
            class="form-control"<br>
            [(ngModel)]="answer"><br>
            &#60;/textarea> <br>
            &#60;p>Your reply: &#123; &#123;answer}}&#60;/p></code></p>
          <p class="card-text">In the component <code>answer = '';</code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 194. TD: Grouping Form Controls </h5>
          <p class="card-text"> To check the validation data of the entire form </p>
          <p class="card-text">On the div <code> &#60;div id="user-data"<br>
            <b>ngModelGroup="userData"<br>
              #userData="ngModelGroup"</b>></code></p>
          <p class="card-text">On the message <code>        &#60;p *ngIf="!userData.valid && userData.touched">User Data is invalid!&#60;/p></code></p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 195. TD: Handling Radio Buttons </h5>
          <p class="card-text"> - </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
        </div>
      </div>


      <!--
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson xxx -> </h5>
          <p class="card-text"> - </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
        </div>
      </div>
-->





    </div>
  </div>
</div>
