<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form>
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control">
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select class="form-control" id="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Section 15: Handling Forms in Angular Apps</h5>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 184 -> Creating the Form and Registering the Controls</h5>
          <p class="card-text"> The great thing is you don't have to do anything, well almost anything, make sure that in your app module, you actually import the forms module, add it here to your imports array and have the import at the top of this file.  </p>
          <p class="card-text"> <code>  imports: [ <br>
            BrowserModule,<br>
            <b>FormsModule,</b> <br>
            AppRoutingModule<br>
            ],</code></p>
        </div>
      </div>



      <!--
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson xxx -> </h5>
          <p class="card-text"> - </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
        </div>
      </div>
-->







    </div>
  </div>
</div>
